body {
  background-image: url(https://i.postimg.cc/02SXz50Y/Todo-lo-que-merezca-voy-a-recibirlo-pantalla-principal-1.png);
  background-repeat: no-repeat;
  background-size:cover;
}
.img-fondo{
  background-image: url(https://i.postimg.cc/02SXz50Y/Todo-lo-que-merezca-voy-a-recibirlo-pantalla-principal-1.png);
  background-repeat: no-repeat;
  background-size:cover;
  transform: rotate(90deg);
}

.container-product {
    max-width: 1155px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    margin-top: 1.5rem;
  }

.titulo-text {
    color: rgb(214, 51, 51);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1rem;

}

.total-text {
  color: rgb(214, 51, 51);
  font-size: 1.3rem;
  font-weight: bold;
}

.cart-element {
  margin-top: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;

  .gif {
    width:10%;
    margin-left: 45%;
    margin-top: 3%;
    animation: mostrarGif 0.5s ease-in-out 2; /* duración y repeticiones de la animación */
  }
  
  @keyframes mostrarGif {
    0% {
      opacity: 0; /* empieza con opacidad cero */
    }
    100% {
      opacity: 1; /* termina con opacidad completa */
    }
  
  }
}
@media (min-width: 350px) and (max-width: 500px){
  body {
    background-image: url(https://i.postimg.cc/PqdWbzZb/Todo-lo-que-merezca-voy-a-recibirlo-pantalla-principal-1.png);
    background-repeat: no-repeat;
    background-size:cover;
    max-height: 100%;
    max-width: 100%; 
       /* Asegura que la imagen no sea más ancha que el 100% de la pantalla */
  }
}