.item {
  width: 20rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 218, 218);
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.8); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.item-body {
  padding: 1.5rem 1.6rem;
}

.item-img {
  margin-top: 1rem;
  width: 18rem;
  height: auto;
  padding-left: 1.6rem;
}
.item-title {
  color: rgb(214, 51, 51);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.item-precio {
  font-weight: bold;
  font-size: 1.1rem;
}

.item-stock {
  margin-top: 0.5rem;
  font-weight: bold;
  color: rgb(77, 72, 72);
}

.item-sinstock {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
}

.item-button {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 350px) and (max-width: 500px){
  body, html {
    height: 100%;
    margin: 0;
  }

  .item {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-style: solid;
    border-radius: 3%;
    border-color: rgb(184, 161, 161);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;

  }

  .item-body {
    padding: 0rem 0rem;
  }

  .item-img {
    margin-top: 1rem;
    width: 18rem;
    height: auto;
    padding-left: 0rem;
  }

  .item-title {
    color: rgb(214, 51, 51);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .item-precio {
    font-weight: bold;
    font-size: 1.1rem;
  }

  .item-stock {
    margin-top: 0.5rem;
    font-weight: bold;
    color: rgb(77, 72, 72);
  }
}