* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Regular"),
    url(./assets/fonts/Nunito-VariableFont_wght.ttf) format("truetype");
}

h2 {
  color: rgb(214, 51, 51);
  padding-top: 1.5rem;
  text-align: center;
  font-size: 1.8rem;
}

.btn {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.4rem;
  border: none;

}

.btn-dark {
  color: #fff;
  background-color: #212529;
}

.btn-dark:hover {
  background-color: rgb(131, 12, 12);
  cursor: pointer;
}
