.container {
  max-width: 1155px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  margin-top: 3rem;
}

@media screen and (max-width: 600px) {
  .contenedor-articulos {
    display: grid;
    grid-template-columns: repeat(1, 90%);
    row-gap: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .contenedor-articulos {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    row-gap: 1.5rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .contenedor-articulos {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    row-gap: 1.5rem;
    column-gap: 4rem;
  }
}
